<div class="container">
<table class="highlight">
  <thead>
    <tr>
      <th data-field="id">Build</th>
      <th data-field="date">Date</th>
    </tr>
  </thead>
  <tbody>
    <% @buildrun_numbers.each do |buildrun| %>
    <tr>
    <td><a href="/build/<%= buildrun[:name] %>"><%= buildrun[:name] %></a></td>
    <td><%= buildrun[:date] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
