<div class="container">
 <h2>Build Run #<%= @id %></h2>

 <div class="collection">
    <a href="https://github.com/haikuports/haikuports/tree/<%= @buildrun.fetch("portsTreeHead", "unknown") %>" class="collection-item" target="_blank">
      <span class="badge"><%= @buildrun.fetch("portsTreeHead", "unknown") %></span>Ports Tree Revision</a>
    <a href="#" class="collection-item"><span class="badge"><%= @buildrun.fetch("buildStatus", "unknown") %></span>Status</a>
    <a href="#builders" class="collection-item">
      <span class="new badge orange" data-badge-caption="failed"><%= @builders.type("failed").count %></span>
      <span class="new badge blue" data-badge-caption="reconnecting"><%= @builders.type("reconnecting").count %></span>
      <span class="new badge green" data-badge-caption="idle"><%= @builders.type("idle").count %></span>
      <span class="new badge red" data-badge-caption="active"><%= @builders.type("active").count %></span>
      Builders</a>
    <a href="#build_queue" class="collection-item">
      <span class="new badge orange" data-badge-caption="blocked"><%= @builds.fetch("blocked",[]).count %></span>
      <span class="new badge blue" data-badge-caption="scheduled"><%= @builds.fetch("scheduled",[]).count %></span>
      <span class="new badge red" data-badge-caption="active"><%= @builds.fetch("active",[]).count %></span>
      Build Queue</a>
    <a href="#build_results" class="collection-item">
      <span class="new badge purple" data-badge-caption="lost"><%= @builds.fetch("lost",[]).count %></span>
      <span class="new badge orange" data-badge-caption="failed"><%= @builds.fetch("failed",[]).count %></span>
      <span class="new badge green" data-badge-caption="complete"><%= @builds.fetch("complete",[]).count %></span>
      Build Results</a>
  </div>

<h3><a name="builders">Builders</a></h3>
<table class="highlight tiny">
  <thead>
    <tr>
      <th>Builder</th>
      <th>Current Build</th>
      <th style='width: 25%'>Status</th>
    </tr>
  </thead>
  <tbody>
  <% if @builders.all.count == 0 %>
    <tr><td COLSPAN=3 style="text-align: center;"><div class="chip"><i>No builders defined!</i></div></td></tr>
  <% end %>
  <% @builders.all.each do |builder| %>
    <tr>
      <td><%= builder.name %></td>
      <td><%= builder.current_build.fetch("port", {}).fetch("revisionedName", "none") %></td>
      <td><%= builder_status_icon(builder) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
 
<h3><a name="build_queue">Build Queue</a></h3>
<table class="highlight tiny">
  <thead>
    <tr>
      <th>Port</th>
      <th style='width: 25%'>Status</th>
    </tr>
  </thead>
  <tbody>
    <% if (@builds.fetch("active", []).count + @builds.fetch("scheduled", []).count + @builds.fetch("blocked", []).count) == 0 %>
      <tr><td COLSPAN=3 style="text-align: center;"><div class="chip"><i>No builds in queue</i></div></td></tr>
    <% end %>
    <% [["active","red"], ["scheduled","blue"],["blocked","orange"]].each do |type,color|%>
	  <% @builds.fetch(type, []).each do |build| %>
        <tr>
          <td><%= build.fetch("port",{}).fetch("revisionedName", "unknown") %></td>
          <td>
            <% if build.fetch("missingPackageIDs", []).count != 0 %>
              <div class="chip <%= color %>-text tooltipped" data-position="left" data-delay="50"
                data-tooltip="Missing: <%=build.fetch("missingPackageIDs", []).join(",")%>">
            <% else %>
              <div class="chip <%= color %>-text">
            <% end %>
            <%= build_status_icon(type) %><%= type %></div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h3><a name="build_results">Build Results</a></h3>
<table class="highlight tiny">
  <thead>
    <tr>
      <th>Port</th>
      <th style='width: 25%'>Status</th>
    </tr>
  </thead>
  <tbody>
    <% if (@builds.fetch("complete", []).count + @builds.fetch("lost", []).count + @builds.fetch("failed", []).count) == 0 %>
      <tr><td COLSPAN=3 style="text-align: center;"><div class="chip"><i>No results</i></div></td></tr>
    <% end %>
    <% [["complete","green"], ["lost","purple"],["failed","red"]].each do |type,color|%>
	  <% @builds.fetch(type, []).each do |build| %>
        <tr>
          <td><%= build.fetch("port",{}).fetch("revisionedName", "unknown") %></td>
          <td>
            <% if build.fetch("missingPackageIDs", []).count != 0 %>
              <div class="chip <%= color %>-text tooltipped" data-position="left" data-delay="50"
                data-tooltip="Missing: <%=build.fetch("missingPackageIDs", []).join(",")%>">
            <% else %>
              <div class="chip <%= color %>-text">
            <% end %>
            <%= build_status_icon(type) %><%= type %></div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>

