<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="<%= @httpbase %>/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <header>
      <ul id="nav-mobile" class="side-nav fixed grey lighten-5">
        <li class="logo"><a id="logo-container" class="brand-logo" style='line-height: 0.9em;'><img src="<%= @httpbase %>/images/packageinstaller-icon_64.png"><br/>Buildmaster</a></li>
        <li class="bold"><a href="<%= @httpbase %>" class="waves-effect waves-teal">Overview</a></li>
        <li class="bold">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">Build Runs</a>
              <div class="collapsible-body" style="display: none;">
                <ul>
                  <% @buildrun_numbers.each_with_index do |bldrun,indx| %>
                    <li><a href="<%= @httpbase %>/build/<%= bldrun[:name] %>">#<%= bldrun[:name] %>
                    <% if indx == 0 %>
                      <span class='badge new green' data-badge-caption='latest'></span>
                    <% elsif bldrun[:age].to_i < 0 or !bldrun[:age] %>
                      <span class='badge new gray' data-badge-caption='long ago'></span>
                    <% else %>
                      <span class='badge new blue' data-badge-caption='<%= short_ago(bldrun[:age]) %>'></span>
                    <% end %>
                    </a></li>
                  <% end %>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
     </header>
     <main>
        <div id="content">
        <%= yield %>
        </div>
     </main>
  </body>
</html>
