#logo-container {
    height: 57px;
    margin-bottom: 32px;
    pointer-events: none;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

i.fa {
    padding: 0px;
    margin: 0px;
	font-size: 1.2rem;
}

.side-nav.fixed a {
	padding: 0 16px;
}

.collapsible-header i {
	float: left;
}

.collapsible-body {
	padding: 0;
}

.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}

.side-nav {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.tiny tr, .tiny td {
	padding: 2px;
}

header, main, footer {
    padding-left: 250px;
}
